.footer {

  margin: 0;
  padding: 22px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  /* background-color: var(--light-color-menu-focus); */
  background: linear-gradient(0deg, rgba(107,107,107,0.7368892381171219) 0%, rgba(255,0,0,0) 100%, rgba(255,255,255,0) 100%);

  gap: 20px;
  
  font-size: 10px;
  font-family: var(--font-base);

  /* Dark */
  /* color: var(--dark-color-text); */
  
  /* Light */
  color: black;
}

.footer_contact {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-base);
  font-weight: 600;
}

.footer_contact > h3 {
  margin: 0;
  font-size: medium;
  font-family: inherit;
  color: black;
  padding-bottom: 5px;
}

.footer_contact_p {
  color: rgb(36, 36, 36);
  margin: 0;
  font-size: 12px;
}

.footer_contact_p > a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}

.p {
  margin: 0;
  border-top: 1px solid black;
  padding-top: 22px;
  color: black;

  transition: .5s;
}


.p, .a {
  text-decoration: none;

  font-family: var(--font-base);
  font-weight: 500;
  
  /* Dark */
  /* color: var(--dark-color-text); */

  /* Light */
  color: black;
}

.telegram:hover, .discord:hover, .youtube:hover, .mail:hover, .instagram:hover, .github:hover {
  background-color: rgba(0, 0, 0, 1);
}
.telegram, .discord, .youtube, .mail, .instagram, .github {
  width: 35px;
  height: 35px;

  display: flex;

  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  transition: .5s;
}

.svg {
  width: 25px;
  height: 25px;
}

.svg_telegram {
  width: 40px;
  height: 40px;
}

.socials_block {
  width: -webkit-fill-available;
  max-width: 260px;
  height: 35px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 7px;

  border-top: 1px solid black;
  padding-top: 22px;

}