:root {
  --dark-color-menu: rgb(27, 27, 31);
  --dark-color-text: rgb(235, 235, 245);
  --dark-color-footer: rgb(27, 27, 31);
  --dark-color-background: rgb(60, 60, 69);
  --dark-color-border: rgb(93, 93, 107);


  --light-color-menu: rgb(246, 248, 250);
  --light-color-menu-focus: rgb(235, 235, 235);
  --light-color-text: rgb(150, 150, 150);
  --light-color-text-focus: rgb(94, 94, 94);
  --light-color-footer: rgb(246, 248, 250);
  --light-color-background: rgb(246, 248, 250);
  --light-color-border: rgb(207, 207, 207);
  
  --font-color-gold: #b99e00;
  
  --font-base: "Inter", sans-serif;
  --font: "Josefin Sans", sans-serif;

}


@media (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto; /* Подстраивает высоту под контент */
    overflow-x: hidden;
  }
}


@media (min-width: 769px) {
  html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: calc(100vh - 380px);
    overflow-x: hidden;
    
  }
}

@media (min-width: 769px) {
  html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: calc(100vh - 380px);
    overflow-x: hidden;
    
  }
}


html, body {


  display: flex;
  flex-direction: column;


  /* Dark */
  /* background-color: var(--dark-color-background); */
  /* Light */
  
  font-size: 14px;
  
  position: relative;
  
  background-color: var(--light-color-background);
}
