.header {
  display: grid;

  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  padding: 1vh 0;

  font-family: var(--font-base);
  font-weight: 600;

  position: sticky;
  top: 0;
  /* Dark */
  /* background-color: var(--dark-color-background); */

  /* Light */
  background-color: white;
  border-bottom: 1px solid var(--light-color-border);
  color: #616161;

  z-index: 1;
}