.header {
  z-index: 1;
  
  top: 0;
  min-height: 35px;

  position: sticky;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  
  gap: 10px;
  padding: 5px 0;

  font-family: var(--font-base);
  font-weight: 600;

  color: #616161;
  background-color: white;
  border-bottom: 1px solid var(--light-color-border);
  
}