.link {
  color: inherit;
  text-decoration: none;
  padding: 5px 9px 5px 9px;
  border: 1px solid black;
  

  transition: .4s;
}

.link:hover {
  color: var(--font-color-gold)
}


.nav, .logo, .search {
  display: flex;
  gap: 10px;
  flex: 1;
  position: relative;
}

.nav {
  justify-content: end;
}

.logo {
  justify-content: start;
}

.search {
  justify-content: center;
}